/*
.tci-icon-button
.tci-icon-button .tci-icon
.tci-icon-button--sm
.tci-icon-button--sm .tci-icon
.tci-icon-button--no-border
.tci-icon-button--hover
.tci-icon-button--disable-hover
.tci-icon-button--active
.tci-icon-button--disable-active
.tci-icon-button--focus
.tci-icon-button--disable-focus
*/

.tci-icon-button {
  @apply inline-flex justify-center items-center flex-shrink-0;
  @apply relative;
  @apply overflow-hidden;
  @apply w-10 h-10;
  @apply border border-gray-200 rounded-full outline-none;
  @apply transition-all duration-200;

  &--sm {
    @apply w-8 h-8;

    .tci-icon {
      @apply text-lg;
    }
  }

  &:not(&--sm) {
    .tci-icon {
      @apply text-2xl;
    }
  }

  &--no-border {
    @apply border-0;
  }

  &--hover,
  &:not(&--disable-hover):hover {
    @apply bg-creme-100;
  }

  &--focus,
  &:not(&--disable-focus):focus {
    @apply shadow-outline;
  }
  &:focus {
    @apply outline-none;
  }

  &:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color: currentColor;
    visibility: hidden;
    z-index: 2;
  }
  &:not(:active):before {
    animation: ripple-50 0.5s cubic-bezier(0, 0, 0.2, 1);
    transition: visibility 0.5s step-end;
  }
  &:active:before {
    visibility: visible;
  }
}
